*{
	/* reset all m and p ve 0 */
	margin: 0;
	padding: 0;
	list-style: none;
}
.page{
	display: block;
	margin: 0 auto;
	width: 1004px;
}
div#left{
	width: 699px;
	/* display: inline-block; */
	float: left;
}
div#right{
	float: right;
	width: 300px;
	/* display: inline-block; */
}

div.bangtin{
	width: 347px;
	display: inline-block;
	vertical-align:top;
	/* //nhung the dung no thi nam tren cung 1 hang */
}
div.content{
	display: inline-block;
	width: 100%;
}
div.tinvideo{
	float: left;
	width: 699px;
	height: 382px;
}
div.videotieubieu{
	float: left;
	width: 400px;
	padding-top: 10px;
	padding-right: 10px;
	margin-top: 2px;
}
div.listvideo{
	float: left;
	width: 275px;
	height: 325px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 1px solid #ddd;
	overflow-y: scroll;
}
div.divvideo{
	display: inline-block;
	width: 100%;	
}
img.img{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
	margin-bottom: 2px;
}
.poster{
	width: 100%;
}
.ads-left{
	float: left;
	width: 336px;
	height: 280px;
	padding: 8px;
}
.ads-right{
	width: 100%;

}
h3{
	font-size: 17px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	 color: green;
}
h3#h3_chungkhoang{
	font-size: 17px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	 color: green;
	 background: url(http://cdn.24h.com.vn/images/icon_topck.png) no-repeat left center;
	 background-size: 25px;
	 padding-left: 30px;
}
h3#h3_phaidep{
	font-size: 17px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color:palevioletred;
	background: url(https://img.favpng.com/12/21/12/logo-woman-png-favpng-sBLj3tEzkcLVeRqRc6LNta9ks.jpg)no-repeat left center;
	background-size: 20px;
	padding-left: 30px;
}
h3#h3_video{
	border-bottom: 2px solid green;
	color: green;
	text-transform: uppercase;
	background: url(https://p7.hiclipart.com/preview/966/686/493/youtube-play-button-computer-icons-video-clip-youtube.jpg) no-repeat left center;
	background-size: 20px;
	padding-left: 25px;
	padding-top: 10px;
}
div.lined{
	border-bottom: 2px solid green ;
	display: block;
	width: 100%;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
div.linedhong{
	border-bottom: 2px solid palevioletred ;
	display: block;
	width: 100%;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

p.title{
	color: black;
	font-size: 14px;
	font-weight: bold;
}
p{
	font-size: 12px;
	display: block;
	overflow: hidden;
	margin-top: 5px;
}
span{
	color: black;
	font-size: 10px;
}
ul{
	background-color: #99FFCC;
	width: 100%;
	display: inline-block;
}
div.bangtin ul.tieude li h2{
	float: left;
	height: 18px;
	font-size: 11px;
	color: black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	white-space: nowrap;
}
ul.phai{
	width: 100%;
	display: inline-block;
	background-color: white;
}
div#left ul li{	
	float: left;
	width: 100%;
	font-size: 13px;
	padding-top: 2px;
	background: url(https://icons.iconarchive.com/icons/custom-icon-design/flatastic-6/512/Octagon-icon.png) no-repeat left center;
	background-size: 5px;
	padding-left: 10px;
}
div#left div.listvideo div.divvideo ul.ulvideo li{
	float: left;
	width: 100%;
	font-size: 13px;
	background: none;
}
ul.ulvideo {
	display: inline-block;
	width: 100%;
	background-color: white;
}
ul.phai li{
	float: left;
	width: 100%;
	font-size: 13px;
	padding-top: 2px;
	background: url(https://icons.iconarchive.com/icons/custom-icon-design/flatastic-6/512/Octagon-icon.png) no-repeat left center;
	background-size: 5px;
	padding-left: 10px;
}
div.div_scroll{
	height: 120px;
	width: 350px;
	display: inline-block;
	overflow-y:scroll;
}
div.div_scroll ul{
	background-color: white;
}
ul.ulvideo iframe{
	float: left;
	width: 130px;
	height: 77px;
	margin-right: 10px;
	margin-bottom: 2px;
}
