*{
	/* reset all m and p ve 0 */
	margin: 0;
	padding: 0;
	list-style: none;
}
.page{
	display: block;
	margin: 0 auto;
	width: 1004px;
}
div#left{
	width: 699px;
	/* display: inline-block; */
	float: left;
}
div#right{
	float: right;
	width: 300px;
	/* display: inline-block; */
}

.bangtin{
	width: 347px;
	display: inline-block;
	vertical-align:top;
	/* //nhung the dung no thi nam tren cung 1 hang */
}
div.content{
	display: inline-block;
	width: 100%;
}
img.img{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
	margin-bottom: 2px;
}
.poster{
	width: 100%;
}
.ads-left{
	float: left;
	width: 336px;
	height: 280px;
	padding: 8px;
}
.ads-right{
	width: 100%;

}
h3{
	font-size: 17px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color: green;
}
h3#h3_phaidep{
	font-size: 17px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color:palevioletred;
}
div.lined{
	border-bottom: 2px solid green ;
	display: block;
	width: 100%;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
div.linedhong{
	border-bottom: 2px solid palevioletred ;
	display: block;
	width: 100%;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

p.title{
	color: black;
	font-size: 14px;
	font-weight: bold;
}
p{
	font-size: 12px;
	display: block;
	overflow: hidden;
	margin-top: 5px;
}
span{
	color: black;
	font-size: 10px;
}
ul{
	background-color: #99FFCC;
	width: 100%;
	display: inline-block;
}
ul.phai{
	width: 100%;
	display: inline-block;
	background-color: white;
}
li{	
	float: left;
	width: 100%;
	font-size: 13px;
	padding-top: 2px;
}
div.div_scroll{
	height: 120px;
	width: 350px;
	display: inline-block;
	overflow-y:scroll;
}
div.div_scroll ul{
	background-color: white;
}