*{
	/* reset all m and p ve 0 */
	margin: 0;
	padding: 0;
	list-style: none;
}
.page{
	display: block;
	margin: 0 auto;
	width: 1004px;
}
div#left{
	width: 699px;
	/* display: inline-block; */
	float: left;
}
div#right{
	float: right;
	width: 300px;
	/* display: inline-block; */
}
div#last{
	width: 100%;
	display: inline-block;
}

div.bangtin{
	width: 347px;
	display: inline-block;
	vertical-align:top;
	/* //nhung the dung no thi nam tren cung 1 hang */
}
div.bangtin_2{
	width: 699px;
	display: inline-block;
	vertical-align: top;
}
div.tintuc{
	display: block;
    overflow: hidden;
}
div.content{
	display: inline-block;
	width: 100%;
}
div.content2{
	display: inline-block;
	width: 100%;
}
div.tinvideo{
	float: left;
	width: 699px;
	height: 382px;
}
div.videotieubieu{
	float: left;
	width: 400px;
	padding-top: 10px;
	padding-right: 10px;
}
div.listvideo{
	float: left;
	width: 288px;
	height: 325px;
	overflow-y: scroll;
	overflow-x: hidden;
}
div.divvideo{
	display: inline-block;
	width: 100%;	
}
img.img{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
	margin-bottom: 2px;
}
img.img2{
	float: left;
	width: 100px;
	height: 100px;
	margin-bottom: 2px;
	margin-right: 10px;
}
img.img3{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
}
.poster{
	width: 100%;
	height: 120px;
}
.ads-left{
	float: left;
	width: 336px;
	height: 280px;
	padding: 8px;
}
.ads-right{
	width: 100%;

}
h3{
	font-size: 17px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	 color: green;
}
h3#h3_chungkhoang{
	font-size: 17px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	 color: green;
	 background: url(http://cdn.24h.com.vn/images/icon_topck.png) no-repeat left center;
	 background-size: 25px;
	 padding-left: 30px;
}
h3#h3_phaidep{
	font-size: 17px;
	text-align: left;
	text-transform: uppercase;
	display: block;
	color:palevioletred;
	background: url(https://img.favpng.com/12/21/12/logo-woman-png-favpng-sBLj3tEzkcLVeRqRc6LNta9ks.jpg)no-repeat left center;
	background-size: 20px;
	padding-left: 30px;
}
h3#h3_video{
	border-bottom: 2px solid green;
	color: green;
	text-transform: uppercase;
	background: url(https://p7.hiclipart.com/preview/966/686/493/youtube-play-button-computer-icons-video-clip-youtube.jpg) no-repeat left center;
	background-size: 20px;
	padding-left: 25px;
}
h3#ttdoanhnghiep{
	font-size: 17px;
	border-bottom: 2px solid salmon;
	color: salmon;
	text-transform: uppercase;
	background: url(https://atpcons.com/wp-content/uploads/2018/05/icon-enterprise.png)no-repeat left top;
	background-size: 20px;
	padding-left: 30px;
	padding-bottom: 5px;
}
div.lined{
	border-bottom: 2px solid green ;
	display: block;
	width: 100%;
	padding-bottom: 2px;
	margin-bottom: 5px;
}
div.linedhong{
	border-bottom: 2px solid palevioletred ;
	display: block;
	width: 100%;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

p.title{
	color: black;
	font-size: 14px;
	font-weight: bold;
}
p{
	font-size: 13px;
	display: block;
	margin-top: 5px;
}
span{
	color: black;
	font-size: 10px;
}
ul{
	width: 100%;
	display: inline-block;
}
ul.tag{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}
ul.tag li{
	display: inline-block;
	background-color: lightgrey;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 1px;
	align-items: center;
}
ul.tag li:first-child{
	background-color: #90c95a ;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomright: 0;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	color: white;
	font-weight: bold;
}
ul.phai{
	width: 100%;
	display: inline-block;
	background-color: white;
}
ul.listtintuc{
	width: 340px;
}
div#left div.bangtin ul.listtintuc li{	
	float: left;
	width: 100%;
	font-size: 13px;
	padding-top: 2px;
	background: #aad862 url(https://icons.iconarchive.com/icons/custom-icon-design/flatastic-6/512/Octagon-icon.png) no-repeat left center;
	background-size: 5px;
	padding-left: 10px;
	overflow: hidden;
}
div#left div.listvideo div.divvideo ul.ulvideo li{
	float: left;
	width: 254px;
	font-size: 13px;
	background: none;
}
ul.ulvideo {
	display: inline-block;
	width: 100%;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	border-left: 1px solid #ddd;
}
ul.phai li{
	float: left;
	width: 100%;
	font-size: 13px;
	padding-top: 2px;
}
ul.uldoanhnghiep{
	display: inline-block;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}
ul.uldoanhnghiep li {
	width: 248px;
	display: inline-block;
	background-color:burlywood;
}
div.div_scroll{
	height: 120px;
	width: 350px;
	display: inline-block;
	overflow-y:scroll;
	overflow-x: hidden;
}
div.div_scroll ul{
	background-color: white;
}
ul.ulvideo iframe{
	float: left;
	width: 130px;
	height: 77px;
	margin-right: 10px;
	margin-bottom: 2px;
}
div.tintuc2 {
	display: block;
    overflow: hidden;
}
div.tintuc2 ul li{
	width: 100%;
	font-size: 13px;
	padding-top: 2px;
	background: url(https://icons.iconarchive.com/icons/custom-icon-design/flatastic-6/512/Octagon-icon.png) no-repeat left center;
	background-size: 5px;
	padding-left: 10px;
}
div.tintuc2 span{
	background: url(https://www.seekpng.com/png/detail/40-406294_green-right-arrow-png-download-hnh-mi-tn.png)no-repeat left center;
	background-size: 20px;
	padding-left: 20px;
}

div.footer{
	background-color: gainsboro;
	width: 100%;
	margin: 0 auto;
	display: block;
}
div.footercontent{
	width: 1004px;
	display: block;
	margin: 0 auto;
}
div.footer1{
	width: 100%;
	display: inline-block;
}
div.footer1 ul{
	float: left;
	width: 130px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 5px;
}
div.footer1 ul li{
	margin: 5px;
}
div.footer1 ul li:first-child{
	font-weight: bold;
}
div.footer2{
	background-color:green;
	width: 100%;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
div.footer3{
	width: 100%;
	display: inline-block;
}

div.footer2 ul{
	text-align: center;
}
div.footer2 ul li{
	display: inline-block;
	color: white;
	font-size: 13px;
	font-weight: 600;
	margin-left: 10px;
	margin-right: 10px;
}
div.footer3 p{
	display: inline-block;
	text-align: center;
	font-size: 13px;
	color: #7d7d7d;
	padding: 10px 0 0;
}
header{
	width:100%;
	margin: 0 auto;
	background-color: #78b43d;
	font-family: Arial, Helvetica, sans-serif;
}
div.logo{
	float: left;
	width: 75px;
	height: 37px;
	margin-top: 4px;
}
img#logo{
	display: inline-block;
	margin: 0;
	width: 100%;
}
ul.tagdanhmuc{
	width: auto;
	display: inline-block;
	border-left: 1px solid#90c95a;
	border-right: 1px solid #90c95a;
	position: relative;
	vertical-align: middle;
	margin: 0 5px;
}
ul.tagdanhmuc li{
	display: inline-block;
	padding: 5px 5px;
}
ul.tagdanhmuc li img{
	display:block;
	margin: 0 auto;
	height: 20px;
}
ul.tagdanhmuc li p{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}
ul.tagmenu{
	width: auto;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
ul.tagmenu li{
	display:inline-block;
	position: relative;
	padding: 5px;
}
ul.tagmenu li img{
	display: block;
	margin: 0 auto;
	height: 20px;
}
ul.tagmenu li p{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}
ul.subtag{
	display: none;
}
ul.subtag li{
	display:block;
	color:black;
	border-bottom: 1px solid #78b43d;
	height: 20px;
	font-size: 12px;
	background: #aad862 url(https://cdn.24h.com.vn/images/2014/menuDot.gif) no-repeat 5px center;
	background-size: 5px;
	padding-left: 15px;
	padding-top: 6px;
	position: relative;
}
ul.subtag li:hover{
	background-color: #78b43d;
}
ul.tagmenu li:hover ul.subtag{
	display: block;
	position: absolute;
	top: 46px;
	left: 0;
	width: 200px;
}
ul.subtag2{
	display:none;
}
ul.subtag2 li:hover{
	color: white;
}
ul.subtag2 li{
	border-bottom: 1px solid #aad862;
	background: #78b43d url(https://cdn.24h.com.vn/images/2014/menuDot.gif) no-repeat 5px center;
}
ul.tagdanhmuc li:hover ul.subtag{
	display: block;
	position: absolute;
	top: 46px;
	left: 0;
	width: 200px;
}
ul.tagdanhmuc li ul.subtag li:hover ul.subtag2{
	display: block;
	position: absolute;
	top: 0;
	left: 200px;
	width: 200px;
}